---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'
const email = 'phil' + '@' + 'daniels' + 'dev' + '.' + 'cloud'
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="w-full text-center text-3xl font-bold">Phil Daniels</div>
		<div class="w-full text-center">
			{email} | Windsor, Colorado
		</div>
	</div>

	<div class="mb-10 text-center text-justify">
		<i>Full Stack, Cloud First, Software Engineer</i>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Education</div>
	</div>

	<div class="time-line-container mb-10 grid gap-4">
		<TimeLineElement
			title="Title"
			start="20XX"
			end="20XX"
			organization="Organization"
			city="City"
			state="ST"
		/>
		<TimeLineElement
			title="Title"
			start="20XX"
			end="20XX"
			organization="Organization"
			city="City"
			state="ST"
		/>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Title"
			start="20XX"
			end="20XX"
			organization="Organization"
			city="City"
			state="ST"
		>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
			voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident.
		</TimeLineElement>
		<TimeLineElement
			title="Title"
			start="20XX"
			end="20XX"
			organization="Organization"
			city="City"
			state="ST"
		>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
			voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident.
		</TimeLineElement>
		<TimeLineElement
			title="Title"
			start="20XX"
			end="20XX"
			organization="Organization"
			city="City"
			state="ST"
		>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
			voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident.
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Certifications</div>
	</div>

	<ul class="mx-6 mb-10 grid list-disc gap-2">
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
	</ul>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Skills</div>
	</div>

	<ul class="mx-6 list-disc columns-2 md:columns-5">
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
	</ul>
</BaseLayout>
