---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'
const email = 'phil' + '@' + 'daniels' + 'dev' + '.' + 'cloud'
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="w-full text-center text-3xl font-bold">Phil Daniels</div>
		<div class="w-full text-center">
			{email} | Windsor, Colorado
		</div>
	</div>

	<div class="mb-10 w-full text-center">
		<i>Full Stack, Cloud First, Software Engineer</i>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Senior Software Engineer"
			start="May 2023"
			end="Present"
			organization="Ensemble Health Partners"
			city="Windsor"
			state="CO"
		>
			<li>
				I am a Fullstack Engineer, Leader, and Decision maker for the Platform Engineering team;
				tools and tech used every day include <b><i>Terraform</i></b>, <b><i>Typescript</i></b>, <b
					><i>React</i></b
				>, <i><b>.NET</b></i>, and <b><i>Go</i></b>, hosted in <b><i>AWS</i></b> and <b
					><i>Azure</i></b
				>.
			</li>
			<li>
				Launched <i>Stargate</i>, a React based Micro-frontend hosting solution for Ensemble
				applications. Reduced technical debt by collapsing multiple applications into a single
				platform, increasing user productivity and improving application change time to market.
				Leveraged <b><i>Terraform</i></b>, <b><i>React</i></b>, <b><i>Go</i></b>, and <b
					><i>Cloud Storage</i></b
				>. Decreased frontend hosting costs for organization by <i>30%</i>.
			</li>
			<li>
				Designed and Developed <i>Locksmith</i>, a <b><i>GraphQL</i></b> based user and identity management
				platform, using <b><i>NextJs</i></b>, <b><i>Durable/Step Functions</i></b>, <b
					><i>MongoDB</i></b
				>; integrated with Ensemble’s Identity as a Service provider. Pattern implemented
				organization wide and leveraged by <i>Stargate</i>. Accelerated launch of new applications.
			</li>
			<li>
				Led development of new Customer Onboarding system, using <b><i>React</i></b>, <b
					><i>Node</i></b
				>, API Gateways, <b><i>MongoDB</i></b>
				and <b><i>SQL</i></b>. Simplified Customer Onboarding experience for Ensemble Clients.
			</li>
			<li>
				Delivered <i>Emissary</i>, a Organizational Notifications engine, using <b>
					<i> Event-Driven Architecture </i>
				</b>, <b><i>Cloud Message Delivery</i></b>, and <b><i>Cloud Functions</i></b>. Unified
				disparate notification delivery at Ensemble and streamlined adding push, email, and channel
				notifications to future and current applications.
			</li>
			<li>
				Created <i>Insignia</i> an Organizational, Client Side Authentication library. Used tools and
				technologies like <b><i>React</i></b>, <b><i>OAuth</i></b>, and <b><i>Vite</i></b>.
				Alongside <i>Locksmith</i>, this significantly reduced client side boiler-plate for the
				organization and simplified Authentication and Authorization for Application teams.
			</li>
		</TimeLineElement>
		<TimeLineElement
			title="Senior Software Developer"
			start="Feb 2017"
			end="May 2023"
			organization="UL Solutions"
			city="Laramie"
			state="WY"
		>
			<li>
				Technical Leader, Mentor, and Pull Request Reviewer for an ecosystem of applications
				containing 3 Agile teams.
			</li>
			<li>
				Led refactoring of existing On-Prem Monolith into Micro-service Architecture, using Docker
				and Kubernetes. Collaborated with Partner teams (DevOps/SRE) to decrease operational,
				hosting, and development costs by <li>400k/year</li>
			</li>
			<li>
				Reworked legacy mission critical product, with Angular, SQL, and .NET, increasing user
				sentiment scores by 20%
			</li>
			<li>
				Developed mobile application and PWA using React Native and Firebase, increasing staff
				productivity <i>50%</i>
			</li>
			<li>
				Migrated Sharepoint Search to AI Driven Search, increasing performance and app SLA from 99%
				to <i>99.99%</i>
			</li>
			<li>
				Migrated On-Prem SQL Server infrastructure to Cloud SQL, and implemented Application
				Performance Monitoring. Decreased storage costs <i>30%</i>
			</li>
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Education</div>
	</div>

	<div class="time-line-container mb-10 grid gap-4">
		<TimeLineElement
			title="Title"
			start="20XX"
			end="20XX"
			organization="Organization"
			city="City"
			state="ST"
		/>
		<TimeLineElement
			title="Title"
			start="20XX"
			end="20XX"
			organization="Organization"
			city="City"
			state="ST"
		/>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Certifications</div>
	</div>

	<ul class="mx-6 mb-10 grid list-disc gap-2">
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
	</ul>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Skills</div>
	</div>

	<ul class="mx-6 list-disc columns-2 md:columns-5">
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
	</ul>
</BaseLayout>
