---
import HorizontalCard from './HorizontalCard.astro';
---

<HorizontalCard
	title="Advent of Code"
	img="/advent_of_code_2023.webp"
	desc="My advent of code solutions in TypeScript. Golang, and Rust."
	url="https://github.com/phildaniels/advent-of-code"
	tags={['TypeScript', 'Rust', 'Golang', 'Algorithms']}
/>
<div class="divider my-0"></div>
<HorizontalCard
	title="VSCode Extension: Line Number Utils"
	img="/line_number_utils.webp"
	desc='VSCode Utilities for inserting and copying line numbers during single and multi-cursor editing. Similar utility to extensions like "Turbo Console Log" but more general and works for general editing'
	url="https://marketplace.visualstudio.com/items?itemName=PhilDanielsIO.vscode-line-number-utils"
	badge="FOSS"
	tags={['VSCode', 'Extension']}
/>
<div class="divider my-0"></div>
<HorizontalCard
	title="VSCode Extension: Retro Sunset Theme"
	img="/retro_sunset.webp"
	desc="A VSCode theme inspired by the retro sunsets of the 80s."
	url="https://marketplace.visualstudio.com/items?itemName=PhilDanielsIO.retro-sunset-theme"
	badge="FOSS"
	tags={['VSCode', 'Theme']}
/>
<div class="divider my-0"></div>
<!-- <HorizontalCard
		title="The Find It Game!"
		img="/the_find_it_game.webp"
		desc="A mobile, scavenger hunt game for car rides."
		url="https://apps.apple.com/us/app/the-find-it-game/id1660647447"
		tags={['iOS', 'Android', 'Mobile']}
	/>
	<div class="divider my-0"></div> -->
