---
import SideBarFooter from './SideBarFooter.astro';
import { Image } from 'astro:assets';
import SideBarMenu from './SideBarMenu.astro';
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
	<label for="my-drawer" class="drawer-overlay"></label>
	<aside class="flex h-auto min-h-full w-[19rem] flex-col bg-base-200 px-2 pt-2 text-base-content">
		<div class="mx-auto mb-6 mt-5 w-fit">
			<a href="/">
				<div class="avatar m-auto block transition ease-in-out hover:scale-[102%]">
					<div class="w-[8.5rem]">
						<Image
							class="mask mask-circle"
							format="webp"
							width={300}
							height={300}
							src="/profile.webp"
							alt="Profile image"
						/>
					</div>
				</div>
			</a>
		</div>
		<SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
		<SideBarFooter />
	</aside>
</div>
