---
const { sideBarActiveItemID } = Astro.props;
const activeClass = 'bg-base-300';
const href = 'mail' + 'to' + ':' + 'phil' + '@' + 'daniels' + 'dev' + '.' + 'cloud';
---

<ul class="menu menu-md shrink grow overflow-y-auto">
	<li><a class="py-3 text-base" id="home" href="/">Home</a></li>
	<li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li>
	<li><a class="py-3 text-base" id="blog" href="/">Blog</a></li>
	<li><a class="py-3 text-base" id="cv" href="/">Resume / CV</a></li>
	<li>
		<a
			class="py-3 text-base"
			href={href}
			target="_blank"
			referrerpolicy="no-referrer-when-downgrade">Contact</a
		>
	</li>
</ul>

<script
	define:vars={{
		sideBarActiveItemID: sideBarActiveItemID,
		activeClass: activeClass
	}}
>
	const activeItemElem = document.getElementById(sideBarActiveItemID);
	activeItemElem && activeItemElem.classList.add(activeClass);
</script>
